:root{
  --fg: #fff;
  --bg: #000;
  /* --accent: #222323; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  text-transform: uppercase;
  background-color: var(--bg);
  color: var(--fg);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--fg);
  z-index: 5;
}

main {
  display: grid;
  grid-template-columns: 1fr; /* mobile par défaut */
  gap: 8px;
  margin-top: 62px;
  padding: 8px;
}

@media (min-width: 600px) {
  main { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1024px) {
  main { grid-template-columns: repeat(3, 1fr); } /* FHD */
  .item { height: 260px !important; }
}
@media (min-width: 1600px) {
  main { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 2200px) {
  main { grid-template-columns: repeat(5, 1fr); } /* 4K+ */
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  border: solid 1px var(--fg);
  overflow: hidden;
  height: 200px; /* hauteur fixe pour toutes les cases */
}

.item img {
  flex: 1 1 50%;
  min-width: 0;
  width: 100%;
  height: 100%;   /* prend toute la hauteur de .item */
  object-fit: contain;
  /* filter: url(#duotone); */ /* effet duotone sur les images avec --fg: #222323; --bg: #f0f6f0;*/
  background-color: transparent;
}

.item img:hover {
  filter: unset;
  /* object-fit:cover; */
}

.item p {
  flex: 1 1 50%;
  min-width: 0;
  text-align: left;
}

pre {
  /*line-height: 1;*/
  /* text-align: left; */
}

footer {
  padding: 8px;
  /* text-align: right; */
}

h1 {
  color: var(--accent);
}
b {
  font-weight: inherit; /* désactive le bold des titres */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--fg) var(--bg);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--fg);
  border: 2px solid var(--bg); /* crée un effet de "padding" autour du thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fg);
}